
extend my_layout

block content
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          a#welcome_text.navbar-brand Welcome #{userLoginName}
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/logout') Sign Out
    .container
      .jumbotron
        h1 KEB Dashboard
        p Welcome to KEB layout !!
    .container
      .row
      .col-lg-9.form-group
        label(for="exampleTextarea") Likhne ka area
        textarea(rows="3").form-control#exampleTextarea
      .col-lg-3
        .panel.panel-default
          .panel-heading
            | Black Listed Restaurents
            span.glyphicon.glyphicon-plus.pull-right(data-toggle='collapse', data-target='#addRestoDiv')
            #addRestoDiv.collapse
              input#restaurantName.form-control(type='text', placeholder='name')
              input#restaurantUrl.form-control(type='text', placeholder='url')
              button#addRestaurantBtn.btn Add
          .panel-body
            table.table.table-striped
              tbody
                each restaurant in restaurants
                  tr
                    td=restaurant.restaurant_name
                    td
                      i.glyphicon.glyphicon-minus.pull-right.remove-restaurant(data-value='#{restaurant.restaurant_name}')
                    td
                      i.glyphicon.glyphicon-plus.pull-right(data-toggle='collapse', data-target='##{restaurant.restaurant_name}')
                  tr.collapse(id = '#{restaurant.restaurant_name}')
                    td
                      input.form-control(type='text', placeholder='menu item')
    .container
      .row
      .col-lg-3
        #chatDiv
          #chatPanel.panel.panel-primary.collapse
            .panel-heading
              .panel-title
                span
                  | Chat Box
                span
                    button#closeChatPanelBtn.pull-right.btn
                      | x
            #chatPanelBody.panel-body
              ul#chatMessages
          #chatBtnDiv.panel.panel-primary
            .panel-heading
              .input-group
                input#messageText.form-control(type='text', placeholder='type your message here')
                span.input-group-btn
                  button#sendMessageBtn.btn.btn-default(type='button') Send

    if users != undefined
      .container
        div
        table.table.table-striped
          thead
            tr
              th Login
              th First Name
              th Last Name
          tbody
            each user in users
              tr
                td= user.login_name
                td= user.first_name
                td= user.last_name
